$gutter : 1rem;

*
{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.container
{
   width:95%;
   margin:0 auto;
}
.header
{

  position:relative;
  background-image:linear-gradient(to right bottom,white,green),url(photos/background/header.jpg);
  height:95vh;
  width:100%;
  margin-bottom:1rem;
  -webkit-clip-path: polygon(0 0,100% 0,70% 80% ,0 100%);
  clip-path:polygon(0 0,100% 0,100% 80% ,0 100%);
  &-primary
  {
    width:70%;
    font-size:4rem;
    font-weight:1000;
    text-transform:Uppercase;
    position:absolute;
    top:50%;
    left:50%;

    transform:translate(-50%,-50%);
    letter-spacing:.3rem;
    &-main{
      transition:all .2s;
      background-image : linear-gradient(to right,red,yellow);
      color:transparent;
      background-clip:text;
      -webkit-background-clip:text;
    }
    &:hover &-main
    {

      transform:skewX(-20deg) skewY(0deg);
    }
  }
}

.navigation
{
  position:relative;
  &-checkbox
  {
    display:none;
  }
  &-btn
  {

    transition:all .2s;
    position:fixed;
    display:block;
    width:60px;
    border-radius:50%;
    height:60px;
    right:32px;
    border:2px dashed black;
    background-color:red;
    z-index:999;
    top:1.1rem;
    &-bar
    {
      transition: all .3s;
      position:absolute;
      width:1.5rem;
      transform:translate(-50%,-50%);
      display:block;
      height:3px;
      top:50%;
      left:50%;
      background-color:black;
      &::after,&::before
      {
        content:"";
        position:absolute;
        display:block;
        width:100% ;
        height:3px;
        background-color:black;
      }
      &::after
      {
        top:8px;
      }
      &::before
      {
        top:-8px;
      }

    }
    &:hover &-bar::before{
       top:-0.6rem;
    }
    &:hover &-bar::after{
       top:0.6rem;
    }
  }
  &-checkbox:checked ~ &-btn
  {
    transform:scale(2);
  }
}




.people-section
{
  margin:0 auto;
  width:70%;
  padding:6rem;
  position:relative;
  background-image:linear-gradient(to right bottom,grey,white);
  transform:skewX(-6deg);
  & > *
  {
    transform:skewX(6deg);
  }
}

.bg-video
{

    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.2;
    z-index:-1;
  
    &-content
    {
        object-fit:cover;
        width:100%;
        height:100%;

    }
}
.card-people{
  perspective: 800px;

    height:25rem;
    border:1px solid black;
    &-img
    {
      width:100%;
      height:10rem;
    }
    &-description
    {
      height:8rem;
    }
    &:not(:last-child)
    {
        margin-right:$gutter;
    }
    &-side
    {
      overflow:hidden;
      position:absolute;
      backface-visibility: hidden;
      top:0;
      left:0;
      height:25rem;
      transition:all .5s ease-out;
      width:100%;

        &--front
        {

            background-image:linear-gradient(to right bottom,Yellow,White);
        }
        &--back
        {
           transform: rotateY(-180deg);
           background-image:linear-gradient(to right bottom,Pink,White);
        }
    }
    &:hover &-side--front
    {
      transform:rotateY(180deg);
    }
    &:hover &-side--back
    {
      transform:rotateY(0deg);
    }

}

.col
{
  float:left;

}
.row
{
  &::after
  {
    clear:both;
    content:"";
    display:block;
  }
}
.s3
{
  width:calc((100% - 3*#{$gutter})/4) !important;
}
